.product{
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.productpic{
    width: 50%;
    height: 50%;
    padding: 20px;
    margin-left: 25%;
    display: flex;
}
.font{
    font-size: 16px;
    padding-left: 15px;
    padding-right: 30px;
}
.header{
    position: fixed;

}
.inputproddetail{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid rgb(0,0,0, 0.12);
    box-sizing: border-box;
    font-size: 14px;
    color: rgb(0, 0, 0);

}
